<div class="hcont">
    <div class="navBar">
        <span class="logo">
            <img class="logoimg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Codinglogo.jpg/900px-Codinglogo.jpg?20180719092659" alt="logo">
            <a>Coding Club</a>
        </span>
        <span class="dashboard navele">
            <a href="./dashboard">Dashboard</a>
        </span>
        <span class="thisweek navele">
            <a href="./thisweek">This Week</a>
        </span>
        <span class="prevweek navele">
            <a href="./prevweek"> Previous Week</a>
        </span>
        <span class="logout navele">
            <a href="/logout">Logout</a>
        </span>
    </div>
</div> 