<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/828c670315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dash.css">
    <title>Welcome to Coding Club (DSA)</title>
</head>

<body>
    <%- include("navbar") %>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/js/dash.js"></script>
</html>