<%- include("header") %>

<body>
    <div class="container">

        <div class="navBar">
            <span class="logo">
                <a class="imglevler" href="/">
                    <img class="logoimg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Codinglogo.jpg/900px-Codinglogo.jpg?20180719092659" alt="logo">
                    <a class="cct">Coding Club</a>
                </a>
            </span>
            <span class="sign navSignin">
                <a href="/signin">SIGN IN</a>
            </span>
            <span class="sign navSignup">
                <a href="/signup">SIGN UP</a>
            </span>
        </div>

        <div class="intro">
        </div>

        <div class="loader">
            <form class="form" action="/signin" method="POST">
                <div class="form-element">
                    <label class="form-labels" for="fname">
                        <i class="fa-solid fa-user fa-lg"></i>
                    </label>
                    <a class="placer uname">User Name</a>
                    <input class="form-boxes" type="text" placeholder="User Name" name="username" id="uname" required>
                </div>
                <div class="form-element">
                    <label class="form-labels" for="fname">
                        <i class="fa-solid fa-key fa-lg"></i>
                    </label>
                    <a class="placer password">Password</a>
                    <input class="form-boxes" type="password" placeholder="Password" name="password" id="password">
                </div>
                <span class="filler">
                    <%=msg%>
                </span>
                <div class="form-element">
                    <input class="subbtn" type="submit" value="Signin">
                </div>
            </form>
        </div>

    </div>
    <input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
    onpageshow=function(){
        var e=document.getElementById("refreshed");
        if(e.value=="no")
            e.value="yes";
        else{
            e.value="no";
            location.reload();
        }
    }
</script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/js/signin.js"></script>
</html>