<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/828c670315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dash.css">
    <title>Welcome to Coding Club (DSA)</title>
</head>

<body>
    <%- include("navbar") %>    
    <div class="container">
        <div class="questions">
            <span class="qcont">
                <span class="easydd dds">
                    <button class="ddtitle jseasy">
                        <a class="jseasy js">Easy
                        </a>
                        <i class="jseasy fa-solid fa-caret-down"></i>
                    </button>
                    <ul class="dlist easylist">
                        <li>
                            <a href="">Linked List</a>
                        </li>
                        <li>
                            <a href="">Graph</a>
                        </li>
                    </ul>
            </span>
            <span class="meddd dds">
                <button class="ddtitle jsmed">
                    <a class="jsmed js">Medium
                    </a>
                    <i class="jsmed fa-solid fa-caret-down"></i>
                </button>
                <ul class="dlist medlist">
                    <li>
                        <a href="">Queue</a>
                    </li>
                    <li>
                        <a href="">Array</a>
                    </li>
                </ul>
            </span>
            <span class="harddd dds">
                <button class="ddtitle jshard">
                    <a class="jshard js">Hard
                    </a>
                    <i class="jshard fa-solid fa-caret-down jsclicker"></i>
                </button>
                <ul class="dlist hardlist">
                    <li>
                        <a href="">Delete a node in linked list</a>
                    </li>
                    <li>
                        <a href="">Q6</a>
                    </li>
                    <li>
                        <a href="">Q7</a>
                    </li>
                </ul>
            </span>
            </span>
                

        </div>

        <div class="description">

        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/js/dash.js"></script>
</html>