*{
    top:0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: ; */
    background-image: linear-gradient(#2d40599d,#2d40599d),url("../images/cartographer.png");
    font-family: 'Roboto Mono', monospace;
}

.navBar{
    position: sticky;
    top:0;
    background-color: #EA5455;
    background-image: linear-gradient(#ea5454b5,#ea5454b5),url("../images/cartographer.png");
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-left: 30px;
    flex-grow: 10;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.logo>a{
    font-size: 1.5rem;
    font-weight: 700;
    cursor: default ;
}


.logoimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navele{
    flex-grow: 1;
    padding: 5px;
}

.navele>a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    /* flex-direction: column; */
}

.description{
    height:calc(100vh - 80px);
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: auto;
}

.descDiff{
    width: 80px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
}

.descDesc{
    position: relative;
    margin-top: 20px;
}

.descSol,.descLink{
    width: 100px;
    background-color: #ffd467;
    border-style: none;
    height: 25px;
    border-radius: 10px;
}

.descSol:hover,.descLink:hover{
    background-color:black;
    color:#ffd467;
}

.descButtons{
    display: flex;
    column-gap: 10px;
}

.descButtons>a{
    margin-top: 30px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    width: 100px;
    height: 25px;
    align-items: center;
}

.comments{
    margin-top: 20px;
}

.cmtHeading{
    margin-bottom: 30px;
}

#commentBox{
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: #ffd467;
    border-width: 0px 0px 2px 0px;
    width: 150px;
}

#cmtBtn{
    background-color: #f07a3f00;
    border-style: none;
    cursor: pointer;
    color:rgb(42, 42, 42);
}

#commentBox:focus{
    outline: none;
    width: 200px;
    transition: width 0.5s;
}

#commentBox::placeholder{
    color: black;
}

.cmtDisplay,.cmtItem{
    display: flex;
    flex-direction: column;
}

.cmtItem{
    margin-top: 25px;
}

.cmtHead{
    display: flex;
    column-gap: 10px;
    align-items: baseline;
}

.cmtUser{
    font-weight: 500;
}
.cmtDate{
    font-size: smaller;
    word-spacing: -5px;
}

.cmtMain{
    margin-top: 5px;
}

.questions{
    min-height: max-content;
    height:calc(100vh - 80px);
    width: 20%;
    background-image: linear-gradient(#ffd46789,#ffd46789),url("../images/cartographer.png");
    display: flex;
    flex-direction: column;
}

.qcont{
    display: flex;
    flex-direction: column;
}

.ddtitle{
    background-color: #f07a3fd6;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(41, 41, 41);
    font-size: larger;
}

.ddtitle>a{
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 100%;
}

.ddtitle>i{
    display: flex;
    align-items: center;
    padding-right: 10px;
    height: 100%;
}

.dlist{
    /* display: none; */
    overflow: hidden;
    padding: 0;
    padding-left: 20px;
}

.dlist>li>a{
    text-decoration: none;
    color:black;
    text-align: left;
}

.easylist,.medlist,.hardlist{
    max-height: 0;
    transition: max-height 0.3s;
}

.visible{
    max-height: 100vh;
    transition: max-height 0.3s;
}

@media only screen and (max-width: 480px) {
    .logo>a{
        font-size: 1.1rem;
        font-weight: 700;
    }
}

@media only screen and (max-width:675px) {
    .navBar{
        flex-direction: column;
        height: max-content;
        padding:4px;
    }
    .questions{
        min-width: 103px;
        font-size: smaller;
        height: max-content;
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .description{
        width: 100%;
    }
}